.inputField {
    font-family: Inter, serif;
}
.inputField input {
    padding: 1rem;
    border:none;
    background: #eeeeee;
    border-radius: .5rem;
    width: 20rem;
    font-size: medium;
}

.inputField h2 {
    font-family: Inter, serif;
    font-size: medium;
    color: #818181;
    padding-bottom: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--yellow-strong);
    border-radius: .5rem;
    width: 20rem;
    font-size: medium;
    padding: .8rem 1rem;
    color: var(--black);
    font-family: Inter, serif;
    box-shadow: 0 23px 15px -18px rgba(0, 0, 0, 0.1);
    gap: 1rem;
    cursor: pointer;
}

.button button {
    border:none;
    background: inherit;
    border-radius: .5rem;
    font-size: larger;
    color: var(--black);
    font-family: 'Inter', serif;
    font-weight: 600;
    cursor: pointer;
}

.button:hover {
    background: #eccd1c;
}

.button:active {
    background: #e6b91c;
}

