.overview__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem;
    width: 30%;
    background-color: var(--white);
    border-radius: 0.5rem;
    box-shadow: 0 15px 23px -18px var(--gray-D9);
    font-family: 'Inter', sans-serif;
    color: var(--gray-strong);
}

.overview__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black);
    font-family: 'Inter', sans-serif;
}