.searchbar_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: var(--white);
    box-shadow: 0 15px 23px -18px rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    width: 100%;
    color: var(--gray-strong);
}

.searchbar_input {
    height: 3rem;
    border: none;
    outline: none;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    color: var(--gray-strong);
    width: 100%;
}